:root {
    /* Spacing */
    --spacing-xxsmall: 2px;
    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-medium: 12px;
    --spacing-normal: 16px;
    --spacing-xlarge: 24px;
    --spacing-xxlarge: 32px;
    --spacing-xxxlarge: 64px;
    --spacing-huge: 80px;

    /* Radius */
    --radius-xsmall: 2px;
    --radius-small: 4px;
    --radius-normal: 8px;
    --radius-large: 12px;
    --radius-xlarge: 16px;
}

